@import '@stackbit/components/styles/default.css';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'theme.css';

/* missing Tailwind rules */
.flex-row {
    flex-direction: row;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}

/* make items in a flexbox take up the same amount of space */
.flex-item {
    flex: 1;
}